* {
    margin: 0;
    padding: 0;
    transition: 0.1s;
    font-family: Arial;
    list-style-type: none;
}

body {
    background: #272727;
    zoom: 150%;
}

.main {
    width: 100%;
    margin: 0px auto;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    float: center;
    background: #222222;
    color: white;
    text-align: center;
}

header {
    list-style-type: none;
    margin: 0;
    padding: 0px;
    overflow: hidden;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}

.bar {
    z-index: -1;
    position: absolute;
    overflow: hidden;
    width: 100%;
    background: #3d3d3d;
}

header img {
    height: 35px;
}

div li {
    float: left;
}

.main {
    width:60%;
    /*float: center;*/
    border-radius: 5px;
}

.main article {
    padding: 20px;
    background:#FFF;
    margin-bottom: 20px;
    border-radius: 5px;
    color: black;
}

img {
    margin: 5px;
    padding: 0;
    border-radius: 5px;
    height:10vw;
}

img.small {
    height:5vw;
}

img.big {
    height:20vw;
}

.dark-mode article{
    background-color: #3d3d3d;
    color: white;
}

@viewport {
    zoom: 1.0;
    width: extend-to-zoom;
}

@-ms-viewport {
    width: extend-to-zoom;
    zoom: 125%;
}

@media screen and (max-width: 1200px) {
    .main {
        width:70%;
    }
}

@media screen and (max-width: 1110px) {
    .main {
        width:80%;
    }
    img {
        height: 20vw;
    }
    img.big {
        height:40vw;
    }
    img.small {
        height:10vw;
    }
}

@media screen and (max-width: 550px) {
    header li {
        float: none;
    }
    img {
        height: 35vw;
    }
    img.big {
        height:45vw;
    }
    img.small {
        height:20vw;
    }
    .bar {
        background: #00000000;
    }
    .main {
        width:95%;
    }
}